*{
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}
body {    
    width: 100vw;
}
.topo{
    width: 100vw;
    height: 100px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    background-color: #3B75C2;
    font-family: montserrat;
}
.topo a{
    height: 100px;
}
nav ul {
    float: right;
	margin-right: 20px;
    box-sizing: border-box;
}
nav ul li {
	display: inline-block;
	line-height: 100px;
	margin: 0 5px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
    text-decoration: none;
	list-style: none;
}
nav ul li a.active, nav ul li a:hover {
	background: #5B9EE3;;
    color: white;
	transition: .5s;
}
.checkbtn {
	float: right;
	line-height: 100px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 858px){
	main{
		width: 98vw;
	}
 	.checkbtn {
		display: block;
	}
	nav ul{  
        z-index: 2;
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #3B75C2;        
		top: 100px;
		right: calc(-100% - 20px);
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	nav ul li a:hover,nav ul li a.active {
		background: none;
		color:#5B9EE3;
	}
	#check:checked ~ ul {
		right: -20px;
	}
}
.side-bar{
	background: #5B9EE3;
	backdrop-filter:blur(15px);
	width: 220px;
	height: 75vh;
	border-radius: 3px;
	position: fixed;
	top: 120px;
	left: -100%;
	overflow-y: auto;
	transition: 0.6s ease;
	transition-property: left;
	font-family: montserrat;
	z-index: 1;
}  
.side-bar.active{
	left: 0;
}  
.side-bar .menu{
	width: 100%;
	margin-top: 80px;
}
.side-bar .menu .item{
	position:relative;
	cursor:pointer;
}  
.side-bar .menu .item a{
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	display: block;
	padding: 5px 30px;
	line-height: 60px;
	text-align: left;
}  
.side-bar .menu .item a:hover{
	background: #3B75C2;
	transition: 0.3s ease;
  
}  
.side-bar .menu .item i{
	margin-right: 15px;
}  
  .side-bar .menu .item a .dropdown{  
	position: absolute;
	right:0;
	margin: 20px;
	transition: 0.3s ease;
}  
.side-bar .menu .item .sub-menu{
	background: rgba(255,255,255 , 0.1);
	display:none;
}  
  .side-bar .menu .item .sub-menu a{
	padding-left: 15px;
	font-size: 12px;
	text-align: right;
}  
.rotate{
	transform: rotate(90deg);
}  
.close-btn{
	position: absolute;
	color: #fff;
	font-size: 20px;
	right: 0;
	margin: 25px;
	cursor: pointer;
} 
.menu-btn{	
	top: 100px;
	position: absolute;
	margin: 25px;
	cursor:pointer;
	z-index: 1;
}
main{
    width: 65vw;
    text-align: center;
    margin: 15px auto;
    position: relative;
}
#FrameSol{
	max-width: 450px;
	min-width: 400px;
	background: rgb(245, 245, 245);
	border-radius: 3px;
	text-align: center;   
	margin: 1em auto;
	padding: 1em 1em;
}

.desclassificado{
	max-width: 450px;
	min-width: 400px;
	background: rgb(245, 245, 245);
	border-radius: 3px;
	text-align: center;   
	margin: 1em auto;
	padding: 1em 1em;
}
#FrameSol2{
	display: inline-block;
	max-width: 400px;
	background: rgb(245, 245, 245);
	border-radius: 3px; 
	text-align: center;         
	margin: 1em auto;
	padding: 1em 1em;
}
#ilegibleContainer{

	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	padding:2rem;

}
.item2{	
    max-width: 350px;
	min-width: 350px;
	min-height: 30px;
    box-sizing:border-box;  
    position: relative;
	text-align: center;
	vertical-align:middle;
    background: #5B9EE3;
	color: white;
    border-radius: 3px;        
    padding: 10px;   
	margin: 10px auto;
	transition: all 0,5s ease;
}


.item2:hover{  
    background:#3B75C2;
	color: white;
}
.Info{
	top: 120px;
	text-align: center;
	position: relative;
}
.Info h3{	
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 18px;
    color: #5b5f66;
    margin: 0.5em auto;
	
}
.Info h4{	
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 14px;
    color: #5b5f66;
    margin: 0.5em auto;	
}
.Info p{	
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 14px;
    color: #5b5f66;
    margin: 1em auto;
}
.Info ul{
    width: 80vw;	
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: left;
    padding-left: 3em;
    font-size: 13px;
    color: #5b5f66;
    margin: 1em auto;
}
.Info a{
	font-family: 'Montserrat', sans-serif;
	text-align: center;		
	font-size: 14px;
	color: #5b5f66;
	text-decoration: none;	
	margin: 1em auto;
}
.Info img{	       
    text-align: center;    
    position: relative;
	padding: 2em;
    margin: 0 2em;
}

.main-top{
	top: 120px;
	text-align: center;
	position: relative;
}

.dados-aberto-info p{
	font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 14px;
    color: #5b5f66;
    margin: 1em auto;
}

.documentacao-informacao{
	text-align: left;
	position: relative;
	
}
.documentacao-informacao h2{
	margin-top:2rem;
	margin-bottom:1rem;
}
.documentacao-informacao-line{
	border:1px solid #ccdd;
    overflow: hidden;
	border-radius: 8px;
    display:flex;
	margin-bottom:1rem;
	
}

.documentacao-informacao-get{
	padding:1rem 2.8rem 1rem 1rem;
	background-color:#215bdddd;
	max-width:0.5rem;
	max-height:0.5rem;
	border-radius: 8px;
	margin: 0.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	
	
}
.documentacao-informacao-get p{
	color: white;
    font-size: 14px;
    font-weight: 400;
	margin-left: 1.4rem;	
	text-align: center;
}
.documentacao-informacao-line-text{
	color: black;
    font-size: 18px;
    font-weight: 500;
   margin-left:0.5rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Modal styling */
.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid #888;
	width: 40%; 
  }
  
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  .modalclick{	
    max-width: 350px;
	min-width: 350px;
	min-height: 30px;
    box-sizing:border-box;  
    position: relative;
	text-align: center;
	vertical-align:middle;
    background: #5B9EE3;
	color: white;
    border-radius: 3px;        
    padding: 10px;   
	margin: 10px auto;
	transition: all 0,5s ease;
	cursor: pointer;
}