* {
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}
body {    
    width: 100vw;  
}
.topo{
    width: 100vw;
    height: 100px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    background-color: #3B75C2;
    font-family: montserrat;
}
.topo a{
    height: 100px;
}
nav ul {
    float: right;
	margin-right: 20px;
    box-sizing: border-box;
}
nav ul li {
	display: inline-block;
	line-height: 100px;
	margin: 0 5px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
    text-decoration: none;
	list-style: none;
}
nav ul li a.active, nav ul li a:hover {
	background: #64abf4;
    color: white;
	transition: .5s;
}
.checkbtn {
	float: right;
	line-height: 100px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 858px){
 	.checkbtn {
		display: block;
	}
	ul{  
        z-index: 100;
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #3B75C2;        
		top: 100px;
		right: calc(-100% - 20px);
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	nav ul li a:hover,nav ul li a.active {
		background: none;
		color:#64abf4;
	}
	#check:checked ~ ul {
		right: -20px;
	}
}
main {
    width: 98vw;
    top: 105px;
    text-align: center;
    margin: 15px;
    position: relative;
}
.FrameT {   
    margin: auto;  
    font-size: 0;  
    text-align: center;       
}
.FrameT h3{
    width: 98%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;    
    position: relative;
    font-size: 18px;
    color: #5b5f66;
    padding: 1em;
    margin: 1.5em auto;   
}
.FrameT h3::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 6px;
    background-color: #ED3237;
    bottom: -2px;
    z-index: 1;
}
.FrameT h3::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 1px;
    background-color: #ccc;
    bottom: 0;
}
.FrameIconsT{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    outline: white;

}
.FrameIconsT .Icons {   
    width: 250px;      
    max-width: 250px;
    box-sizing:border-box;  
    position: relative;
    vertical-align: middle;
    background: rgb(240, 240, 240);
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    margin:10px;   
    transition: .5s ease-in-out; 
}
    /* 
    .FrameIconsT .Icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 1;
    background: linear-gradient(110deg, #5B9EE3, #3B75C2);
}*/
.FrameIconsT .Icons::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: #64abf4;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: .5s cubic-bezier(0.49, 0.11, 0.45, 1.01);
}
.FrameIconsT .Icons:hover::after {
    content:"";
    width: 100%; 
    opacity: 1; 
    visibility: visible;
    
}
.FrameIconsT .Icons .Imagem {
    width: 75px;
    height: 75px;
    text-align: center;
    overflow: hidden;
    margin: 10px auto;
}
.FrameIconsT .Icons .Imagem img {
    transform: translateX(-50%);
    transition: .5s cubic-bezier(0.49, 0.11, 0.45, 1.01);
}
.FrameIconsT .Icons:hover .Imagem img {
    transform: translateX(0);
}
.FrameIconsT a{
    font-size: 12px;
    color: #3B75C2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-decoration: none;
    transition: 0,6s;
    margin-bottom: 7px;
    opacity: 0,7;    
}
